{{> navBar this}}
{{> header this}}
{{> messages this}}
<main>
    <div class="container">
        <div class="col-xl-12 col-lg-10 col-md-10 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    {{!-- register helper for the number --}}
                    <h2 class="card-title text-left mt-2 mb-4">Order Number &nbsp;{{formatOrderNumber order.number}}</h2>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Date</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{formatDate order.date}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{order.address}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Card number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{order.card_number}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Card holder</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{order.card_holder}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="col-xl-12 col-lg-10 col-md-10 col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title text-left mt-2 mb-4">Products</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Unit Cost</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each order.items}}
                                <tr>
                                    <th class="align-middle">{{this.title}}</th>
                                    <td class="align-middle">{{this.description}}</td>
                                    <td class="align-middle">{{this.qty}}</td>
                                    <td class="align-middle">{{formatPrice this.unit_cost}}</td>
                                    <td class="align-middle">{{formatPrice this.total}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer bg-light p-2">
                    <div class="d-flex flex-row-reverse text-dark">
                        <div class="py-2 px-4 text-right">
                            <p class="mb-2 font-weight-bold">Total amount</p>
                            <div class="h5 font-weight-light">{{formatPrice order.total}}</div>
                        </div>

                        <div class="py-2  px-4 text-right">
                            <p class="mb-2 font-weight-bold">Tax</p>
                            <div class="h5 font-weight-light">{{formatTax order.tax}}</div>
                        </div>

                        <div class="py-2  px-4 text-right">
                            <p class="mb-2 font-weight-bold">Subtotal</p>
                            <div class="h5 font-weight-light">{{formatPrice order.subtotal}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</main>
{{> footer this}}